body {
    padding: 0;
    margin: 0;
}

@mixin btn(){
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;
    background-color: seagreen;
    border-radius: 5px;
}

#app {
    .terminal {
        margin-bottom: auto;
        margin-top: auto;
    }
    .list-operator {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
        .itm-operator{
            width: 200px;
            height: 100px
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
    .btn-back {
        @include btn();
        background-color: yellow;
    }
    .btn-next-page {
        @include btn();
        
    }
    .footer {
        .btn-menu{
            @include btnBgMenu()
        }
    }
}