body {
    padding: 0;
    margin: 0;
}

@mixin btn(){
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;
    background-color: seagreen;
    border-radius: 5px;
}

#app {
    .hello {
        height: calc(100% - 100px);
    }
    .list-operator {
        display: flex;
        margin-top: auto;
        margin-bottom: auto;

        justify-content: center;
        flex-wrap: wrap;
        .itm-operator{
            width: 200px;
            padding-left: 5px;
                padding-right: 5px;
            a {
                display: block;
                width: 100%;
                height: 100%;
            }
            .icon-operator {
                width: 100%;
                height: 70px;
                background-size: contain;
                background-position: center;
                background-color: #fff;
                border-radius: 5px;
                border: 1px solid grey;
            }
            .link-operator {
                
            }
            &.mts .icon-operator{
                
            }
        }
    }
    .hello {

    }
    .btn-back {
        @include btn();
        background-color: yellow;
    }
    .btn-next-page {
        @include btn();
        
    }
    .footer {
        .btn-menu{
            @include btnBgMenu()
        }
    }
}