body {
    padding: 0;
    margin: 0;
}

@mixin btn(){
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;
    background-color: seagreen;
    border-radius: 5px;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    .cont-app {
        display: flex;
        .terminal {
            margin-bottom: auto;
            margin-top: auto;
        }
    }
    .btn-back {
        @include btn();
        background-color: #b9b9ab;
    }
    .btn-next-page {
        @include btn();
        
    }
}
.btn {
    @include btn();
    &.disabled {
        pointer-events: none;
        background-color: grey !important;
    }
}
.d-flex {
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}