body {
    padding: 0;
    margin: 0;
}

@import 'mixin';
$h-header: 100px;


#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-content: center;
    justify-content: center;
    background-color: lightskyblue;

    .terminal {
        // margin-bottom: auto;
        // margin-top: auto;
        width: 100%;
    }
    .cont-terminal {
        height: calc(100% - 100px);   
            background-color: #Fff;
    }

    .btn-back {
        @include btn();

        color: #A66F00;

        background: #FFD073;
        
    }
    .btn-menu {
    background-color:#F97083;
    }
    .btn-next-page {
        /*include btn();*/
        
    }
}
.btn {
    @include btn();
    &.disabled {
        pointer-events: none;
        @include btnBgDisabled();
    }
}
@mixin dFlex(){
    display: flex;
}
@mixin justifyContentBetween(){
    justify-content: space-between;
}
@mixin justifyContentCenter(){
    justify-content: center;
}

@mixin alignItemsCenter() {
    align-items: center
}
.d-flex {
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-around{
    justify-content: space-around
}
.flex-wrap-reverse{
    flex-flow: wrap-reverse;
}
.flex-column {
    flex-direction: column
}
.flex-md-column-reverse {
    @media  screen and (max-width: 700px){
        flex-flow: column-reverse wrap; 
    }
}
.align-items-center {
    align-items: center
}
.header {
    width: 100%;
    height: $h-header;
    background-color: #5DCFC3;
}
.footer {
    
    height: 60px;
    background-color: $clr_footer;
    padding-left:10px;
    padding-right: 10px;
    .cont-footer {
        height: 100%;
        width: 100%;
        @include dFlex();
        @include justifyContentBetween();
        @include alignItemsCenter();

    }
}

.w-100{
    width: 100%
}

.mt-auto {
    margin-top: auto
}
.mb-auto {
    margin-bottom: auto
}
.ml-auto {
    margin-left: auto
}
.mr-auto {
    margin-right: auto
}
@mixin h-body(){
    height: calc(100% - $h-header);
}