.title {
	margin-bottom: 30px;
	font-size: 20px;
}
input {
	height: 30px;
	font-size: 16px;
	padding-left: 5px;
	border-radius: 5px;
	border: 1px solid grey;
}
.cont-input {
	padding-top: 10px;
	padding-bottom: 10px;
}