
$clr_footer:    #f2f2f2;


@mixin btnBgDisabled(){
    background: #adadad; 
 
}
@mixin btnBg(){

    background-color: #34CFBE;
   
}
@mixin btnBgMenu(){
background: #f7edb4;

}

@mixin btn(){
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
    color: #fff;
    cursor: pointer;
    
    border-radius: 5px;
    @include btnBg();
}

